body {
}

.date-time-picker {
    border-radius: 0px 5px 5px 0px;
    font-size: 0.9rem;
}
.header {
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
    min-width: 70px
}