
<div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text header">@(Name)</div>
    </div>
    <input
        id="id1"
        type="datetime-local"
        class="form-control date-time-picker"
        value="Value"
        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
        @onchange="DateTimeChanged"/>
</div>

@code {
    [Parameter]
    public DateTime Value { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback<DateTime> ValueChanged { get; set; }

    private async void DateTimeChanged(ChangeEventArgs e)
    {
        Value = DateTime.Parse(e.Value.ToString());
        await ValueChanged.InvokeAsync(Value);
    }
}
